{:paths   ["src"]
 :deps    {org.clojure/spec.alpha {:mvn/version "0.3.218"}
           orchestra/orchestra    {:mvn/version "2021.01.01-1"}}
 :aliases {:run     {:exec-fn main/-main}
           :test    {:extra-paths ["test"]}
           :runner  {:extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                                        :git/sha "dfb30dd"}}
                     :main-opts  ["-m" "cognitect.test-runner"]
                     :exec-fn    cognitect.test-runner.api/test}
           :refresh {:extra-deps {com.jakemccrary/test-refresh {:mvn/version "0.25.0"}}
                     :main-opts  ["-m" "com.jakemccrary.test-refresh"]}
           :dev     {:extra-paths ["dev"]
                     :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.3.0"}
                                   org.clojure/test.check      {:mvn/version "1.1.0"}}}
           :auto    {:extra-deps {thiru/clj-reloader {:git/url "https://github.com/thiru/clj-reloader"
                                                      :sha     "8646987342602ab2c6fd0b966386eacda0844f64"}}}
           :rebel   {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
                     :main-opts  ["-m" "rebel-readline.main"]}
           :package {:extra-deps {uberdeps/uberdeps {:mvn/version "1.1.4"}}
                     :main-opts  ["-m" "uberdeps.uberjar" "--target"]}}}
